/* Estilos para el sidebar con imagen de fondo */
.sidebar {
    background-image: url('/assets/images/icono3.png');
    background-size: 350px 450px; /* Tamaño específico */
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100%;
}

/* Overlay opcional para mejorar legibilidad del texto */
.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.451); /* Overlay semi-transparente */
    z-index: 0;
}

/* Asegurar que el contenido esté por encima del overlay */
.sidebar > * {
    position: relative;
    z-index: 1;
}

.menu-item.active::before {
    content: '';
    position: absolute;
    top: -0px;
    bottom: -0px;
    left: 0px;
    right: -56px;
    background: var(--dashboard-bg);
    border-radius: 10px;
    box-shadow: 0 10px 22px #b3945b4e;
    z-index: 0;
}

.menu-item.active::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -60px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background: var(--dashboard-bg);
    /* el color del área del dashboard */
    border-radius: 60%;
    z-index: 1;
    box-shadow: 0 0 0 8px var(--dashboard-bg);
    /* suaviza el borde con el fondo */
}

